
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Satisfy",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #433f39; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #ffb03b; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #ffffff;  /* The default color of the main navmenu links */
  --nav-hover-color: #ffb03b; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #444444; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #ffb03b; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}


.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: color-mix(in srgb, var(--accent-color), transparent 90%);
  color: var(--accent-color);
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
  font-family: var(--default-font);
}

.section-title div {
  color: var(--heading-color);
  margin: 10px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  font-family: var(--heading-font);
}

.section-title div .description-title {
  color: var(--accent-color);
}




/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu .menu-filters {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.menu .menu-filters li {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px 10px 12px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
  transition: all ease-in-out 0.3s;
  font-family: var(--heading-font);
}

.menu .menu-filters li:hover,
.menu .menu-filters li.filter-active {
  color: var(--accent-color);
}

.menu .menu-filters li:last-child {
  margin-right: 0;
}

.menu .menu-item {
  margin-top: 50px;
  position: relative;
}

.menu .menu-img {
  width: 80px;
  border-radius: 50%;
  float: left;
  border: 8px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.menu .menu-content {
  margin-left: 95px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu .menu-content::after {
  content: "......................................................................" "...................................................................." "....................................................................";
  position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: color-mix(in srgb, var(--default-color), transparent 60%);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.menu .menu-content a {
  color: var(--heading-color);
  background: var(--background-color);
  padding-right: 10px;
  position: relative;
  z-index: 3;
  font-weight: 700;
  transition: 0.3s;
}

.menu .menu-content a:hover {
  color: var(--accent-color);
}

.menu .menu-content span {
  background: var(--background-color);
  color: var(--accent-color);
  position: relative;
  z-index: 3;
  padding: 0 10px;
  font-weight: 600;
}

.menu .menu-ingredients {
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  font-family: var(--nav-font);
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

/*--------------------------------------------------------------
# Specials Section
--------------------------------------------------------------*/
.specials {
  overflow: hidden;
}

.specials .nav-tabs {
  border: 0;
}

.specials .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: var(--default-color);
  border-radius: 0;
  border-right: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
  font-weight: 600;
  font-size: 15px;
}

.specials .nav-link:hover {
  color: var(--accent-color);
}

.specials .nav-link.active {
  color: var(--accent-color);
  border-color: var(--accent-color);
  background-color: var(--background-color);
}

.specials .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}

.specials .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.specials .details p {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.specials .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .specials .nav-link {
    border: 0;
    padding: 15px;
  }

  .specials .nav-link.active {
    color: var(--accent-color);
    background: var(--accent-color);
  }
}
